
/* 
Fonts:

font-family: 'Alfa Slab One', cursive; / <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">

font-family: 'Lato', sans-serif; / <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

Color:

gray: 9b9b9b
dark blue: 003c61
light blue: 1DB5FF
orange: fa4616
tan: ed5715 #C2A95E
dark gray: 4A4A4A
black: 000000
light gray: DED9C2



*/

.grid-container {
    display: inline-grid;
  }

#header {
  background-color: #C2A95E;
  padding: 20px;
  margin: 10px;
}

.col {
  align-content: center;
  padding: 20px;
  margin: 10px;

}
.jumbotron {
  margin-bottom: 20px;
  background-image: url(./images/justiceimg.jpg);
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: cover;

}
h3 {
  padding-left: 20px;
  padding-top: 20px;
}

p {
  padding: 20px;
}

.pic1 {
  height: 200px;
  width: 200px;
  padding: 20px;
  float: right;
}

.pic2 {
  height: 300px;
  width: 300px;
  margin: 20px 20px 20px 20px;
  float: left;
}

.lead{
  color: #003c61;
  font-family: Lato Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
}
.display-4 {
  color: #fa4616;
  font-family: Lato Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
}
.img{
  width: 30%;
  float: left;
  margin: 1.66;
}

#navbar {
  background-color: #ddd9c2;
}

footer {
  padding-top: 50px;
}